<div class="ui middle aligned center aligned grid">
    <div class="column" style="max-width:450px;">
        <h2 class="ui teal image header">
            Logga in
        </h2>
        <div class="ui stacked segment">
            <button class="ui google plus button" (click)="loginGoogle()">
                <i class="google plus icon"></i>
                Google login
                </button>
            <div class="ui horizontal divider">
                Eller
            </div>
            <form class="ui large form">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="email" placeholder="Epost">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Lösenord">
                    </div>
                </div>
                <div class="ui fluid large teal submit button">Logga in</div>
                <div class="ui error message"></div>
            </form>
        </div>
    </div>
</div>