<h1>Customers</h1>
<ul>
  <li *ngFor="let customer of customers | async">
    <input type="text" #updateCustomerName [value]="customer.name" (keyup.enter)="updateCustomer(customer.$key, updateCustomerName.value)"
    />
    <button (click)="deleteCustomer(customer.$key)">Delete customer</button>
    <pre>
      {{customer | json}}
    </pre>
  </li>
</ul>

<hr>
<input placeholder="Add new Customer" type="text" #addNewCustomer  (keyup.enter)="addCustomer(addNewCustomer.value)"/>
<br>
<button (click)="deleteAllCustomers()">Delete all customers</button>